<form *ngIf="campaign && campaign.sponsor">
  <div class="sponsor-provided">
    <h1>{{campaign.sponsor.name}} suggests:</h1>
    <p>{{campaign.copy}}</p>
    <!-- TODO have an originalCopy in Jingle? -->
    <h3>Notes</h3>
    <p>{{campaign.notes}}</p>
    <!-- TODO have campaign notes in jingle -->
    <h3>Must Say Verbatim</h3>
    <p>{{campaign.mustSay}}</p>
    <!-- TODO have campaign must say in jingle -->
  </div>
  <hr>
  <prx-fancy-field textinput required [model]="campaign" label="Your script" name="copy"  >
  </prx-fancy-field>
</form>
